:root {
  --gap: 1em;
  --yellow: rgb(255, 224, 38);
  --blue: rgb(0, 91, 175);
}

/* start: main table */
.table {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
}
/* end: main table */

/* start: table header */
.table-section-header {
  flex-shrink: 2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: end;
  background-color: var(--yellow);
  color: black;
  width: 100%;
}

.value-header {
  text-align: center;
}

.subheader-left {
  text-align: start;  
}

.subheader-right {
  text-align: end;  
}

.value-header > span:first-child,
.title-header > span:last-child {
  grid-column: 1/3;
}
/* end: table header */

/* start: section styling */
.table-section {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  min-width: 14em;
  height: 100%;
}

.value-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: end;
  flex-grow: 2;
}

.title-section {
  display: grid;
  grid-template-columns: 1fr;
  flex-grow: 2;
}

.title-container > * {
  display: inline-block;
  margin: 0 .5em 0 0;
}

.table-cell {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 1em;
}

.table-cell:not(.title-container) {
  justify-content: end;
}
/* end: section styling */

.info-dot {
  background-color: var(--blue);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  color: white;
  text-align: center;
}

.scrollable-fy-sections {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow-x: scroll;
}

.alt-bg {
  background-color: rgba(0, 0, 0, 0.1);
}

.title-section > *, .value-section > *, .title-header > *, .value-header > * {
  padding: .5em;
}

